
<% layout("/layouts/boilerplate") %>

<div class="row mt-4 mb-4">
    <div class="col-12 col-md-10 col-lg-8 mx-auto page-form-shell">
    <h1 class="mb-4">Create a New Listing</h1>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
<div class="mb-3">
<label for="title" class="form-label">Title</label>
<input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
<div class="valid-feedback">
     Title Looks good!
    </div>
</div>

<div class="mb-3">
<label for="description" class="form-label">Description</label>
<textarea name="listing[description]" class="form-control" required></textarea>
<div class="invalid-feedback">
        Please provide a description.
    </div>
</div>


<div class="mb-3">
<label for="image" class="form-label">Upload Image</label>
<input type="file" name="listing[image]" class="form-control" required>
</div>

<div class="row">
<div class="mb-3 col-md-4">
<label for="price" class="form-label">Price</label>
<input  name="listing[price]" placeholder="1200" class="form-control" required>
<div class="invalid-feedback">
        Please provide a valid price.
    </div>
</div>

<div class="mb-3 col-md-8">
<label for="country" class="form-label">Country</label>
<input type="text" name="listing[country]" placeholder="India" class="form-control" required>
<div class="invalid-feedback">
        Country name should be valid.
    </div>
</div>
</div>


<div class="mb-3">
<label for="country" class="form-label">Location</label>
<input type="text" name="listing[location]" placeholder="Jaipur,Rajasthan" class="form-control" required>
<div class="invalid-feedback">
       Location should be valid.
    </div>
</div>

<!-- Categories -->
<div class="mb-3">
  <label for="categorySelect" class="form-label">Category</label>
  <select
    id="categorySelect"
    name="listing[category][]"
    class="form-select"
    multiple
    size="8"
    required
  >
    <option value="Trending">Trending</option>
    <option value="Rooms">Rooms</option>
    <option value="Iconic Cities">Iconic Cities</option>
    <option value="Castles">Castles</option>
    <option value="Amazing Pools">Amazing Pools</option>
    <option value="Camping">Camping</option>
    <option value="Farms">Farms</option>
    <option value="Arctic">Arctic</option>
  </select>
  <div class="invalid-feedback">
    Please select at least one category.
  </div>
</div>


<button type="submit" class="btn btn-dark add-btn mt-3 mb-3">Add</button>
    </form>
</div>
</div>

