<% layout("/layouts/boilerplate") %>

<div class="row mt-4 mb-4">
    <h1 class="col-12 col-md-10 col-lg-6 mx-auto mb-3 auth-heading">Login to Wanderlust</h1>
  <div class="col-12 col-md-10 col-lg-6 mx-auto page-form-shell">
    <form action="/login" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
        />
      </div>


      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
      </div>

      <button class="btn btn-success">Login</button>
    </form>
  </div>
</div>
